<div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">More Info</label>
    <div class="collapsible-content">
        <div class="content-inner">

            <ul>
                <li>
                    To develop a web page displaying google maps
                </li>
                <li>
                    Add a button
                </li>
            </ul>
            <div style="height: 20px;"></div>
        </div>
    </div>
</div>