<div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">More Info</label>
    <div class="collapsible-content">
        <div class="content-inner">

            <ul>
                <li>
                    <strong>Task:</strong> To show <a href="https://en.wikipedia.org/wiki/NOTAM" target="_blank">NOTAM</a>
                    info (marker + info window) on google maps by entered airport
                    <a href="https://en.wikipedia.org/wiki/International_Civil_Aviation_Organization" target="_blank">ICAO</a>
                    code
                </li>
                <li>
                    <strong>Features: </strong>
                    <ul>
                        <li>
                            For some ICAO codes there are couple NOTAM with the same coordinates
                            (for YMML for example). App displays them all in one window.
                        </li>
                        <li>
                            For some ICAO codes (for KLAX fo example) there are many NOTAM with wrong ItemQ so app
                            can not put notice to the map because app doesn't have coordinates.
                        </li>
                        <li>
                            This app is a little reponsive ;-)
                        </li>
                        </ul>
                </li>
                <li>
                    <strong>Clarifications:</strong>
                    <ul>
                        <li>
                            The documentation indicates that the App Access Key is expired after 5 hours. I tried and
                            did not encounter it, but still, when it's been 5 hours since it was
                            received, App sending a request for a new one.
                        </li>
                        <li>
                            I did not use any php framework as I know that your system is based on your own framework
                        </li>
                        <li>
                            I used <a href="http://docs.guzzlephp.org/en/stable/" target="_blank">Guzzle</a> for
                            http-requests and <a href="https://twig.symfony.com/" target="_blank">Twig</a>
                            as template engine because I started learning them
                            and decided to use them in real project
                        </li>
                        <li>
                            I used composer for installation Guzzle, Twig and classes autoloading
                        </li>
                        <li>
                            Main classes are located at folder: /vendor/rrtest
                        </li>
                    </ul>
                </li>
            </ul>
            <div style="height: 20px;"></div>
        </div>
    </div>
</div>