<div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">More Info</label>
    <div class="collapsible-content">
        <div class="content-inner">

            <ul>
                <li>
                    <strong>Task:</strong> To show <a href="https://en.wikipedia.org/wiki/NOTAM" target="_blank">NOTAM</a>
                    info (marker + info window) on google maps by entered airport
                    <a href="https://en.wikipedia.org/wiki/International_Civil_Aviation_Organization" target="_blank">ICAO</a>
                    code
                </li>
                <li>
                    <strong>Feature: </strong>For some ICAO codes there are couple NOTAM with the same coordinates
                    (for YMML for example). I display them all in one window.
                </li>
                <li>
                    <strong>Clarifications:</strong>
                    <ul>
                        <li>
                            I do not use any php framework as I know your system is based on your own framework
                        </li>
                        <li>
                            I used Guzzle for http-requests and Twig as template engine because I started learning them
                            and decided to use them in real project
                        </li>
                        <li>
                            I used composer for installation Guzzle, Twig and classes autoloading
                        </li>
                        <li>
                            Main classes are located at folder: /vendor/rrtest
                        </li>
                    </ul>
                </li>
            </ul>
            <div style="height: 20px;"></div>
        </div>
    </div>
</div>