<div >
    <div id="header-title"><h2>Test task for Rocket Route.</h2></div>
    <div id="contact">
        <i style="display:flex; align-items:center; height: 70px;">
            <div id="normal-text" >
                Please contact&nbsp;<a href="mailto:iryna.popovych252@gmail.com?subject=RocketRoute Test Task">iryna.popovych252@gmail.com</a>&nbsp;if any questions
            </div>
            <div id="for-small-screen-text" >
                Contact&nbsp;<a href="mailto:iryna.popovych252@gmail.com?subject=RocketRoute Test Task">iryna.popovych252@gmail.com</a> if any questions
            </div>
        </i>
    </div>
    <div style="clear: both"></div>
</div>